body{
    background-color: rgb(242, 239, 246);
}

.box1{
    background-color: rgb(250, 250, 250);
    width: 70%;
    height: 700px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.30);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
}
.box1{
    display: flex;
    flex-direction: row;
    position: absolute;
}

.box2{
    background-color: rgb(229, 229, 249);
    margin-top: 30px;
    margin-left: 35px;
    width: 94%;
    height:22%;
    border-radius: 12px;
}

.headt{
    font-family: "Segoe UI", Arial, sans-serif;
    color: rgb(58, 57, 57);
    font-size: 26px;
    font-weight: 800;
    padding-top: 20px;
    padding-left: 40px;
}

.pp{
    font-family: "Segoe UI", Arial, sans-serif;
    color: rgb(100, 100, 100);
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 40px;
}
/*-------------------------------*/
.step1{
    position: absolute;
    padding-top: 180px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 20px;
}

.count1{
      margin-top: 40px;
      width: 30px;
      height: 30px;
      border: 2.5px solid #5b6cff;
      border-radius: 50%;
      color: #5b6cff;
      font-size: 12px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
}

.text  {
      margin-top: 5%;
      font-size: 25px;
      font-weight: 800;
      color: #1f2937;
    }

.text h4{
    margin-bottom: 15px;
}

#p2{
    margin-top: 2px;
    font-size: 14px;
    color: #6b7280;
}
/*-------------------------------*/
.step2{
    position: absolute;
    padding-top: 280px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 20px;
}

.count2{
      margin-top: 40px;
      width: 30px;
      height: 30px;
      border: 2.5px solid #040404;
      border-radius: 50%;
      color: #040404;
      font-size: 12px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
}

#p3{
    margin-top: 2px;
    font-size: 14px;
    color: #6b7280;
}
/*-------------------------------*/
.step3{
    position: absolute;
    padding-top: 380px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 20px;
}

.count3{
      margin-top: 40px;
      width: 30px;
      height: 30px;
      border: 2.5px solid #0a0a0b;
      border-radius: 50%;
      color: #0a0a0a;
      font-size: 12px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
}

#p4{
    margin-top: 2px;
    font-size: 14px;
    color: #6b7280;
}